<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Book</title>
  </head>
  <body>
    <form action="{{ url_for('add') }}" method="POST">
      <label>Book Name</label>
      <input type="text" name="bookName"/>
      <label>Book Author</label>
      <input type="text" name="bookAuthor"/>
      <label>Rating</label>
      <input type="text" name="bookRating" />
      <button type="submit">Add Book</button>
    </form>
    <h1>{{ data }}</h1>
    {% if data == 'Added':%}
      <a href=" {{ url_for('home') }}">Click here to go home page</a>
    {% endif %}
  </body>
</html>
