<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <h2>Book Title: {{ book.title }}</h2>
    <h2>Book Rating: {{ book.rating }}</h2>
    <form action="{{ url_for('edit', item_id=book.id) }}" method="POST">
      <input type="text" name="newRating" placeholder="New Rating"/>
      <button type="submit">Edit Rating</button>
    </form>
</body>
</html>