<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    <ul>
      {% if books != []:%}
          {%for item in books%}
            <div>
              <a href={{ url_for('delete', item_id=item.id) }} style='padding-right: 10px;'> Delete   </a>
              <li style="display:inline-block"><h3>{{ item.title }}-{{ item.author }}-{{ item.rating }}/10</h3></li>
              <a href={{ url_for('edit', item_id=item.id) }} style='padding-left: 10px;'>   Edit Rating </a>
            </div>
          {% endfor %}
      {% else %}
          <h3>Library is empty</h3>
      {% endif %}
    </ul>

    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
</html>
